packages: 
  yum:
    mariadb-devel: []

container_commands:
    01_command:
        command: "sudo yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
        test: test ! -f /home/ec2-user/.semaphore
    02_command:
        command: "sudo yum-config-manager --enable epel"
        test: test ! -f /home/ec2-user/.semaphore
    03_command:
        command: "sudo yum install -y erlang --enablerepo=epel"
        test: test ! -f /home/ec2-user/.semaphore
    04_command:
        command: "sudo yum install -y yum-plugin-versionlock"
        test: test ! -f /home/ec2-user/.semaphore
    05_command:
        command: "sudo yum versionlock gcc-*"
        test: test ! -f /home/ec2-user/.semaphore
    06_command:
        command: "sudo yum install -y socat"
        test: test ! -f /home/ec2-user/.semaphore
    07_command:
        command: "sudo yum install -y logrotate"
        test: test ! -f /home/ec2-user/.semaphore
    08_command:
        command: "wget --content-disposition https://packagecloud.io/rabbitmq/rabbitmq-server/packages/el/6/rabbitmq-server-3.6.10-1.el6.noarch.rpm/download.rpm"
        test: test ! -f /home/ec2-user/.semaphore
    09_command:
        command: "sudo rpm -Uvh rabbitmq-server-3.6.10-1.el6.noarch.rpm"
        test: test ! -f /home/ec2-user/.semaphore
    10_command:
        command: "sudo service rabbitmq-server restart"
        test: test ! -f /home/ec2-user/.semaphore
    11_command:
        command: "sudo chkconfig rabbitmq-server on"
        test: test ! -f /home/ec2-user/.semaphore
    12_command:
        command: "sudo rabbitmqctl delete_user guest"
        test: test ! -f /home/ec2-user/.semaphore
    13_command:
        command: "sudo rabbitmqctl add_user <username> <password>"
        test: test ! -f /home/ec2-user/.semaphore
    14_command:
        command: "sudo rabbitmqctl set_user_tags <username> administrator"
        test: test ! -f /home/ec2-user/.semaphore
    15_command:
        command: "sudo rabbitmqctl set_permissions -p / <username> '.*' '.*' '.*'"
        test: test ! -f /home/ec2-user/.semaphore
    16_command:
        command: "sudo rabbitmq-plugins enable rabbitmq_management"
        test: test ! -f /home/ec2-user/.semaphore
    17_command:
        command: "sudo service rabbitmq-server restart"
    18_command:
        command: "sudo touch /home/ec2-user/.semaphore"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: receipts_rest_api.wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
